<!-- Navbar component
================================================== -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="navbar-brand" href="{{ "/" | prepend: site.baseurl }}"><img src="{{ "/assets/images/logo.png" | prepend: site.baseurl }}"></a>
<!--       <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
 -->      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-collapse collapse bs-navbar-collapse">
        <ul class="nav navbar-nav pull-right">
          <li><a href="/about-goteo">About Goteo</a></li>
          <li><a href="/doc">API Docs</a></li>
          <li><a href="/apps">Apps</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>