<div class="sidebar">
 {% if 'apidoc' == page.group or 'endpoint' == page.group %}
  <span class="nav-section-title">
    API DOCS
  </span>
  <ul class="nav nav-pills nav-stacked">
          {% for p in site.pages %}
          {% if 'apidoc' == p.group %}
          <li{% if page.url == p.permalink %} class="active"{% endif %}><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
  </ul>
  <span class="nav-section-title">
    ENDPOINTS
  </span>
  <ul class="nav nav-pills nav-stacked">
          {% for p in site.pages %}
          {% if 'endpoint' == p.group %}
          <li{% if page.url == p.permalink %} class="active"{% endif %}><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
  </ul>
  {% endif %}

  {% if 'aboutgoteo' == page.group %}
  <span class="nav-section-title">
    ABOUT
  </span>
  <ul class="nav nav-pills nav-stacked">
          {% for p in site.pages %}
          {% if 'aboutgoteo' == p.group %}
          <li{% if page.url == p.permalink %} class="active"{% endif %}><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
  </ul>
  {% endif %}

  {% if 'apps' == page.group %}
  <span class="nav-section-title">
    APPS
  </span>
  <ul class="nav nav-pills nav-stacked">
          {% for p in site.pages %}
          {% if 'apps' == p.group %}
          <li{% if page.url == p.permalink %} class="active"{% endif %}><a href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
          {% endif %}
        {% endfor %}
  </ul>
  {% endif %}

</div>
