.icon {
	height: 20px;
}

.key{
	max-width:100%; 
	height:auto; 
	padding:5%;
}

.api-key{
	padding-top:5%; 
	padding-left:8%;
}

.custom-btn{
	margin-top:30px;
}

.bs-masthead-links li a{
    color: #FFF !important;
 }

 .info{
 	width: 50%;
  	position: absolute; 	
  	top: 32%;
  	background-color: rgba(32, 179, 178, 0.75);
  	text-align: center;
  	padding: 2%;
  	margin-right: 25%;
  	margin-left: 25%;
  	text-shadow: 1px 1px #000;

 	}

 .info-title{
 	color:#FFF; 
 	margin-top:0;
 }

 .info-description{
 	color:#BCE8E8;
 }

 .footer-custom{
 	background-color:#58595B; 
 	max-width:100%; 
 	margin-top:40px;
 }

 .custom-ul{
 	margin-left:15%; 
 	width:100%;
 }

 .api-doc {
 	display:none;
 	background-color: #B5161E;
 }
 .apps{
 	display: none !important;
 }