<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body style="background: white;">

    {% include home_navbar.html %}

    <!--<div style="position:relative;">
        <img width="100%" src="/assets/images/home.png">
        <div class="info">
            <h1 class="info-title">GOTEO LAB</h1>
            <div class="info-description">A playground for remixing and using crowdfunding data. A place for inspiration, innovation and sharing.</div>
        </div>
    </div>-->

  <div id="carousel-home" class="owl-carousel" style="position:relative;">
    <div>
        <img style="width:100%" src="/assets/images/home.png">
         <div class="info">
            <h1 class="info-title">GOTEO LAB</h1>
            <div class="info-description">A playground for remixing and using crowdfunding data. A place for inspiration, innovation and sharing.</div>
        </div>
    </div>
    <div> 
        <img style="width:100%; height:311px;" src="/assets/images/app2.png">
        <div class="info">
            <h1 class="info-title">GOTEATHON</h1>
            <div class="info-description">Fundación Goteo has put together a couple of days of hands-on sessions to share our work with people interested in data, API and visualizations, specifically data on crowdfunding and our Goteo.org community
            </div>
        </div>
    </div>
</div>

    <!-- Page content
    ============================================== -->
    <div class="container">
        <div class="row">
            <div class="col col-lg-5">
                <img src="/assets/images/key.png">
            </div>
            <div class="col col-lg-7 api-key">
                <h1>BUILD YOUR OWN APP</h1>
                <a class="btn btn-inverse custom-btn" href="https://goteo.org/dashboard/activity/apikey">GET YOUR API KEY</a>
                <div>
                    <a class="btn btn-inverse custom-btn api-doc" href="/doc">API DOCUMENTATION</a>
                </div>
            </div>
        </div>
    </div>

        {{ content }}
    </div>

    {% include footer_home.html %}

  </body>

</html>
